<div>
    <div class='container'  ng-init="getPosts()">
    	<h1> Recent Posts</h1>
        <form role='form'>
        	<div class='form-group'>
        		<input ng-model='postBody' class='form-control' />
        		<span class='input-group=btn'>
        			<button ng-click='addPost()' class='btn btn-default'>
        				Add Post
        			</button>
        		</span>
        	</div>
        </form>
        
    		<div ng-repeat="post in posts | orderBy:'-date'">
    			<post-section 
                    username = "{{post.username}}" 
                    title = "{{post.title}}" 
                    body = "{{post.body}}"
                    tags = "Tag #1"
                    date = "February 12, 2018"
            ><post-section>
    		</div>sdsda
    	
        <post-section 
            username = "David"
            title = "Post 44 - Lorem ipsum dolor sit amet, consectetur."
            body = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus facilisis, augue ac fermentum volutpat, ipsum eros vehicula nisi, eu ullamcorper ex ante non elit. Pellentesque eu nisi venenatis, gravida tortor non, mollis mauris.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus facilisis, augue ac fermentum volutpat, ipsum eros vehicula nisi, eu ullamcorper ex ante non elit. Pellentesque eu nisi venenatis, gravida tortor non, mollis mauris."
            tags = "Tag #1"
            date = "February 12, 2018"
        ><post-section>
    </div>
</div> 