<div class="container">
    <div class="col-lg-10 col-md-12 mx-auto">
        <h2 class="post-title mt-5">
            Post 1 - Lorem ipsum dolor sit amet, consectetur.
        </h2>
    <div class="post-body"> 

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus facilisis, augue ac fermentum volutpat, ipsum eros vehicula nisi, eu ullamcorper ex ante non elit. Pellentesque eu nisi venenatis, gravida tortor non, mollis mauris.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus facilisis, augue ac fermentum volutpat, ipsum eros vehicula nisi, eu ullamcorper ex ante non elit. Pellentesque eu nisi venenatis, gravida tortor non, mollis mauris.</p>
        
    </div>
    <div class = "post-info">
        <p class="post-meta">Posted by  <a href="#">David Monteiro</a> on February 12, 2018</p>
        <span href="#" class="badge badge-pill badge-secondary">Tag #1</span>
        <span href="#" class="badge badge-pill badge-secondary">Tag #2</span>
        <span href="#" class="badge badge-pill badge-secondary">Tag #3</span>
        <span href="#" class="badge badge-pill badge-secondary">Tag #4</span>
    </div>
    <hr class="bg-dark">
    </div>
</div>