<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body ng-app="app" ng-controller="PostsCtrl">

	<div class="container">
		<h1>Posts</h1>
		<input ng-model="postBody" class"form-control" />
		<button ng-click="addPost()" class="btn btn-default"> Add Posts </button>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat='post in posts'>
				<strong>{{post.username}}</strong>
				<span>{{post.body}}</span>
			</li>
		</ul>
	</div>


	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script>
		var app = angular.module('app', []);

		app.controller('PostsCtrl', function($scope){
			$scope.posts = [
				{
					username: 'david something',
					body: '1st post'
				},
				{
					username: 'something monteiro',
					body: '2nd post'
				}
			],
			$scope.addPost = function () {
				if($scope.postBody){
					$scope.posts.unshift({
						username: "david monteiro",
						body: $scope.postBody
					})
				}
				$scope.postBody = null;

			}
		});



	</script>
</body>
</html>