<div class="cvSection">

    <!-- About  -->     
    <div class="cvSubSection col-11" id="about">    
        <h2 class="sectionTitle">About</h2>
        <p class="sectionContent"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus facilisis, augue ac fermentum volutpat, ipsum eros vehicula nisi, eu ullamcorper ex ante non elit. Pellentesque eu nisi venenatis, gravida tortor non, mollis mauris. Aenean metus tortor, vestibulum sed ornare ac, porttitor at diam. Aenean ut magna ac ante placerat venenatis. Aenean vitae dolor consequat, hendrerit lectus vitae, molestie massa. Morbi ut ipsum at odio lacinia tempus eu ut odio. Praesent ullamcorper tortor dui, vel lacinia velit faucibus vitae.</p>
    </div>

    <hr class="cvBar">
    
    <!-- Experience -->
    <div class="cvSubSection col-11" id="experience"> 

        <h1 class="sectionTitle">Experience</h1>

        <div class="mb-3">
            <h2 class="sectionSubTitle">Web Publisher</h2>
            <span class="sectionDetails">Lionbridge</span>
            <p class="sectionContent">Position that shifted from one project to another where one was to create a publish numerous webpages on a variety of different markets and the other was to manage already created webpages while maintaining, if not improving, expected quality levels.</p>
            <span class="sectionSpan">Oct 2017 - Jul 2018</span>
        </div>
        <div class="mb-3">
            <h2 class="sectionSubTitle">Service Technician</h2>
            <span class="sectionDetails">IT Alliance</span>
            <p class="sectionContent">Installation and general support of software on users’ PCs. Configuration of hardware, mobile devices and peripherals and software installation. Network patching and connectivity testing. Managing handover and briefing of users in the use of laptops, mobile devices and other hardware devices.</p>
            <span class="sectionSpan">Nov 2016 - Apr 2017</span>
        </div>
        <div class="mb-3">
            <h2 class="sectionSubTitle">Digital Media</h2>
            <span class="sectionDetails">Aer Lingus</span>
            <p class="sectionContent">Front end web developing position where skills were needed to create and produce direct and immediate content. Said content ranged from templates, user interface and company information. All done to maximise user experience. Fast paced environment where skills like JavaScript, Angularjs, HTML, CSS, Git and many others were used on daily basis.</p>
            <span class="sectionSpan">Apr 2015 - Oct 2015</span>
        </div>

    </div> 

    <hr class="cvBar">
    
    <!-- Education  -->
    <div class="cvSubSection" id="education">
        <h1 class="sectionTitle">Education</h1>
        <h2 class="sectionSubTitle">Computer Applications (Sft.Eng.) at DCU</h2>
        <p class="sectionContent">While enrolled at DCU, the course prepared me for a career in computing and IT with the chance to spend six months in a work placement as well as a 3rd year and 4th year project that took the duration of a full academic year where I was put to test when applying all my practical skills. The early years granted me with capable skills in computer programming, networking, operating systems, architectures and modern computing related topic. The later years allowed me to put into practice acquired skills and techniques learned. Practical work and working as part of a team increased my communications skills and team work skills.</p>
    </div>

    <hr class="cvBar">
    
    <!-- Skills -->
    <div class="cvSubSection" id="skills">
        <h1 class="sectionTitle">Skills</h1>
        <div class="sectionContent">
            <ul class="keySkills">
                <li>Communication</li>
                <li>Analytical</li>
                <li>Problem Solving</li>
                <li>Research</li>
                <li>Fast Learner</li>
                <li>Critical Thinking</li>
                <li>Attention to detail</li>

            </ul>
        </div>
    </div> 

    <hr class="cvBar">
    
    <!-- Interests  -->
    <div class="cvSubSection" id="interests">
        <h1 class="sectionTitle">Interests</h1>
        <p class="sectionContent"> Staying up to date with new IT trends and technologies advancements by learning and testing them. Expanding my knowledge on the principles and concepts of the industry top SDLC. Developing my personal web site as well as developing a variety of new projects and managing and improving previous ones. Hobbies and Interests As a book lover, I weekly dive into the creative worlds told by book writers. As an person that likes to live healthy and fit I experience every now and again a new sport. Such sports have been football, taekwondo, swimming and badminton.</p>
    </div>

    <div class="cvBar"></div>

</div>