<!-- Portofolio-->
<div  class="mb-5 container-fluid" ng-init="setWindowSize()">

	<div class="container ">	
		<div class="col-lg-8 mx-auto text-center">
			<h2 class="section-title">Projects</h2>
			<hr class="my-4">
		</div>
	</div>

	<!-- - - - - - -  - - - -  - - - - - - - - - - - - - - - - - - - -  -->

	<div class="container-fluid" ng-if="windowWidth > 800">
		<div class="card-group">
			<div class="card projHero" ng-repeat="project in projects" ng-if="$index == 0 || $index == 1" ng-mouseover="cardHover[$index] = true" ng-mouseleave="cardHover[$index] = false" >
				<img class="card-img-top" ng-src="{{project.image}}" >
				<h1 class="card-img-overlay text-center" ng-show="cardHover[$index]" ng-click="selectPanel($index)">{{project.hero}}</h1>
			</div>
		</div>
		
		<div class="bg-light text-dark px-5 py-3 border-right border-left"  ng-show="panelOpen">
			<div class="col-lg-10 col-md-12 mx-auto">
			<h5 class="card-title">{{projects[panel].title}}</h5>
			<p class="card-text">{{projects[panel].description}}</p>
			<span class="text-muted">Follow the 
				<a ng-href="{{projects[panel].link}}" target="_blank" class="card-link"> link</a> to see the source on Github
			</span>
		</div>
		</div>

		<div class="card-group">
		
			<div class="card projHero" ng-repeat="project in projects" ng-if="$index == 2 || $index == 3" ng-mouseover="cardHover[$index] = true" ng-mouseleave="cardHover[$index] = false" >
				<img class="card-img-bottom" ng-src="{{project.image}}" >
				<h1 class="card-img-overlay text-center" ng-show="cardHover[$index]" ng-click="selectPanel($index)">{{project.hero}}</h1>
			</div>
		</div>
	</div>

<!-- - - - - - -  - - - -  - - - - - - - - - - - - - - - - - - - -  -->

	<div class="container-fluid" ng-if="windowWidth <= 800">
		<div ng-repeat="project in projects">
			<div class="card projHero" ng-mouseover="cardHover[$index] = true" ng-mouseleave="cardHover[$index] = false" >
				<img class="card-img-top" ng-src="{{project.image}}" >
				<h1 class="card-img-overlay text-center" ng-show="cardHover[$index]" ng-click="selectPanel($index)">{{project.hero}}</h1>
			</div>
			<div class="bg-light text-dark px-5 py-3 border-right border-left" ng-show="panelOpen && $index === panel">
				<h5 class="card-title">{{project.title}}</h5>
				<p class="card-text">{{project.description}}</p>
				<span class="text-muted">Follow the 
					<a ng-href="{{project.link}}" target="_blank" class="card-link"> link</a> to see the source on Github
				</span>
			</div>
		</div>
	</div>

</div>
<hr>