/* Navigation section */

#navBar {
	padding: 0px;	
}

.nav-title {
	font-family: 'Bilbo Swash Caps';
	font-size: 1.9rem;
	font-weight: 600;
}

.session {
	position: absolute;
	right: 10px;
	top: 5px;
}