/*  Post section */

.post {
	color: #212529;
}
.post-title{
	
	font-weight: 800;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.post-meta {
	font-size: 18px;
	font-style: italic;
	margin-top: 0;
	color: #868e96;
}

.post-meta > a {
	text-decoration: none;
	color: #212529;
}

.post-meta > a:focus, .post-meta > a:hover {
	text-decoration: underline;
	color: #0085A1;
}

.post-meta p {
	line-height: 1.5;
	margin: 30px 0;
}

.post-body p{
	line-height: 1.5;
	margin: 30px 0;
}