/* Resume */

.cvBar{
	max-width: 85%;
	margin-top: 6px;
	margin-bottom: 6px;
	border-width: 1px;
	border-color: #C0C0C0;
}
.cvSection {
	margin: 30px;
}

.cvSection body {
	background: #181818; 
	font-family: 'Lato', helvetica, arial, sans-serif; 
	font-size: 16px; 
	color: #222;
}

.cvSection  {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #444;
}


.cvSubSection {
	margin: 25px 5px;
	padding-top: 20px;
}

.sectionTitle {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 1.5em;
	color: #C21807;
	margin-left: 0px;
}

.sectionSubTitle {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 20px;
	padding-right: 3px;
	margin-bottom: 0px;
	margin-left: 12px;
}

.sectionDetails {
	font-size: 14px;
	font-style: italic;
	margin-bottom: 3px;
	margin-left: 12px;
}

.sectionSpan{
	font-size: 14px;
	font-style: italic;
	margin-bottom: 3px;
	font-weight: 300!important;
	margin-left: 8px;
}

.sectionContent {
	width: 99%;
	margin: 2px 8px;
}


.softSkills {
	list-style-type: none;
	-moz-column-count:4;
	-webkit-column-count:4;
	column-count:4;
	margin: 2px 8px 20px;
	font-size: 1em;
	color: #444;
}

.softSkills ul li {
	margin-bottom: 3px;
}

@media (max-width: 700px) {

	.softSkills {
		list-style-type: none;
		-moz-column-count:1;
		-webkit-column-count:1;
		column-count:1;
		margin: 2px 0px 20px;
		font-size: 1em;
		color: #444;
	}

}
