/* Side Bar section */	
.nav-title {
	font-family: 'Bilbo Swash Caps';
	font-size: 2rem;
	font-weight: 600;
}
	
#sideNav .navbar-nav .nav-item .nav-link {
	font-weight: 600;
	text-transform: uppercase;
}


@media (min-width: 1150px) {
	#sideNav {
		background: #F9812A;
		text-align: center;
		position: sticky;
		position: -webkit-sticky !important;
		top: 0;
		left: -40px;
		display: flex;
		flex-direction: column;
		width: 17rem;
		height: 100vh;
		border-radius: 0 20px 20px 0;
	}
	#sideNav .navbar-brand {
		display: flex;
		margin: 55px auto 0px;
		padding: 0.5rem;
	}
	#sideNav .navbar-brand .img-profile {
		max-width: 10rem;
		max-height: 10rem;
		border: 0.5rem solid rgba(255, 255, 255, 0.2);
	}
	#sideNav {
		display: flex;
		align-items: flex-start;
		flex-grow: 0;
		width: 100%;
		margin-bottom: auto;
	}
	#sideNav .navbar-nav {
		flex-direction: column;
		width: 100%;
	}
	#sideNav .navbar-nav .nav-item {
		display: block;
	}
	#sideNav .navbar-nav .nav-item .nav-link {
		display: block;
	}
	#sidebarContent {
		margin-bottom: auto;
		display: flex!important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
		flex-grow: 1;
		-webkit-box-flex: 1;
	}
}

@media (max-width:1149px) { 
	#sideNav{
		display: none; 
	}
}