<!-- Header-->
<div class="container-fluid header px-0">
	<div class="card text-white">
		<img class="header-image" src="http://headerart.weebly.com/uploads/5/7/5/7/5757212/eye-catching-colorful-paints-art-header_orig.jpg" alt="Card image">
		<div class="card-img-overlay text-center">
			<div class="col-lg-10 mx-auto mt-5">
				<h1 class="card-title text-uppercase">
					<strong>Lorem ipsum dolor</strong>
				</h1>
				<hr class="header-bar mx-auto">
			</div>
			<div class="col-lg-8 mx-auto">
				<p class="card-text text-faded mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<a class="btn btn-secondary btn-lg"  href="#about">Find Out More</a>	
			</div>
		</div>
	</div>
</div>