<div class="cvSection">

    <!-- About  -->     
    <div class="cvSubSection col-11" id="about">    
        <h2 class="sectionTitle">Section 1 - About</h2>
        <p class="sectionContent"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus facilisis, augue ac fermentum volutpat, ipsum eros vehicula nisi, eu ullamcorper ex ante non elit. Pellentesque eu nisi venenatis, gravida tortor non, mollis mauris. Aenean metus tortor, vestibulum sed ornare ac, porttitor at diam. Aenean ut magna ac ante placerat venenatis. Aenean vitae dolor consequat, hendrerit lectus vitae, molestie massa. Morbi ut ipsum at odio lacinia tempus eu ut odio. Praesent ullamcorper tortor dui, vel lacinia velit faucibus vitae.</p>
    </div>

    <hr class="cvBar">
    
    <!-- Experience -->
    <div class="cvSubSection col-11" id="experience"> 

        <h1 class="sectionTitle">Section 2 - Experience</h1>

        <div class="mb-3">
            <h2 class="sectionSubTitle">Lorem ipsum dolor sit amettt</h2>
            <span class="sectionDetails">Lorem ipsum</span>
            <p class="sectionContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus facilisis, augue ac fermentum volutpat, ipsum eros vehicula nisi, eu ullamcorper ex ante non elit. Pellentesque eu nisi venenatis, gravida tortor non, mollis mauris. Aenean metus tortor, vestibulum sed ornare ac, porttitor at diam.</p>
            <span class="sectionSpan">October 2017 - Present</span>
        </div>
        <div class="mb-3">
            <h2 class="sectionSubTitle">Lorem ipsum dolor sit amet</h2>
            <span class="sectionDetails">Lorem ipsum</span>
            <p class="sectionContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus facilisis, augue ac fermentum volutpat, ipsum eros vehicula nisi, eu ullamcorper ex ante non elit. Pellentesque eu nisi venenatis, gravida tortor non, mollis mauris. Aenean metus tortor, vestibulum sed ornare ac, porttitor at diam.</p>
            <span class="sectionSpan">October 2017 - Present</span>
        </div>
        <div class="mb-3">
            <h2 class="sectionSubTitle">Lorem ipsum dolor sit amet</h2>
            <span class="sectionDetails">Lorem ipsum</span>
            <p class="sectionContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus facilisis, augue ac fermentum volutpat, ipsum eros vehicula nisi, eu ullamcorper ex ante non elit. Pellentesque eu nisi venenatis, gravida tortor non, mollis mauris. Aenean metus tortor, vestibulum sed ornare ac, porttitor at diam.</p>
            <span class="sectionSpan">October 2017 - Present</span>
        </div>

    </div> 

    <hr class="cvBar">
    
    <!-- Education  -->
    <div class="cvSubSection" id="education">
        <h1 class="sectionTitle">Section 3 - Education</h1>
        <p class="sectionContent"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus facilisis, augue ac fermentum volutpat, ipsum eros vehicula nisi, eu ullamcorper ex ante non elit. Pellentesque eu nisi venenatis, gravida tortor non, mollis mauris. Aenean metus tortor, vestibulum sed ornare ac, porttitor at diam. Aenean ut magna ac ante placerat venenatis. Aenean vitae dolor consequat, hendrerit lectus vitae, molestie massa. Morbi ut ipsum at odio lacinia tempus eu ut odio. Praesent ullamcorper tortor dui, vel lacinia velit faucibus vitae.</p>
    </div>

    <hr class="cvBar">
    
    <!-- Skills -->
    <div class="cvSubSection" id="skills">
        <h1 class="sectionTitle">Section 4 - Skills</h1>
        <div class="sectionContent">
            <ul class="keySkills">
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>ADuis rhoncus turpis sed laoreet maximus.</li>
                <li>Quisque id felis vitae nisl interdum varius.</li>
                <li>Curabitur euismod metus non enim scelerisque feugiat.</li>
            </ul>
        </div>
    </div> 

    <hr class="cvBar">
    
    <!-- Interests  -->
    <div class="cvSubSection" id="Interests">
        <h1 class="sectionTitle">Section 5 - Interests</h1>
        <p class="sectionContent"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus facilisis, augue ac fermentum volutpat, ipsum eros vehicula nisi, eu ullamcorper ex ante non elit. Pellentesque eu nisi venenatis, gravida tortor non, mollis mauris. Aenean metus tortor, vestibulum sed ornare ac, porttitor at diam. Aenean ut magna ac ante placerat venenatis. Aenean vitae dolor consequat, hendrerit lectus vitae, molestie massa. Morbi ut ipsum at odio lacinia tempus eu ut odio. Praesent ullamcorper tortor dui, vel lacinia velit faucibus vitae.</p>
    </div>

    <div class="cvBar"></div>

</div>